<h2>Future Work</h2>
<h4>Sky is the Limit</h4>

<p>Design</p>
<ul>
  <li>URL or long text can be made more responsive with hide/show,
    sub-rows, tooltips etc.</li>
  <li>Sorting arrows on table header can be centred</li>
  <li>Can add more colours to the table header, columns, rows using
    Analogous or Split Complementary Schemes
  </li>
  <li>Show Entry and Search options can be made more attractive by size
    and highlight on hovering effect</li>
</ul>

<p>Features</p>
<ul>
  <li>Speed up loading time by loading data by in segments</li>
  <li>Dynamic table can be created; app will fetch JSON keys as headers,
   build number of columns based on the number of JSON properties</li>
   <li>Other data formats can be used e.g. XML</li>
  <li>Selecting on a particular row will take user to its own page</li>
  <li>User can choose/upload other JSON files/URLs</li>
  <li>Graphs and Charts can be generated integrating D3js, depends on the
    type on data</li>
  <li>Custom and individual column filtering input box</li>
  <li>Multiple tables</li>
  <li>Options to add/remove or show/hide columns</li>
</ul>
