<h2>Assumptions</h2>

<p>Technical Stack</p>
<ul>
  <li>Angular 6</li>
  <li>DataTables</li>
</ul>

<p>Development</p>
<ul>
  <li>Used the latest version of npm, Angular and DataTables</li>
  <li>Integrated DataTables with the project</li>
  <li>Created table framework on the template with DataTable directive</li>
  <li>DataTable options and trigger are attached to tempalte table with property
    binding</li>
  <li>A service loads JSON file from url and sends it to component</li>
  <li>Component subscribes JSON data show it in a table</li>
  <li>Component also decorates the table and its options</li>
</ul>
