<p>
  table-group works!
</p>
<span>
  <button (click)="pageLength=5">5</button>
  <button (click)="pageLength=10">10</button>
  <button (click)="pageLength=15">25</button>
  <button (click)="sortAlbumId()">Sort Album</button>
  <button (click)="sortNumber()">Sort id</button>
  <button (click)="sortData()">Sort title</button>
  <button (click)="sortUrl()">Sort url</button>
  <input (keyup)=filterData() [(ngModel)]=query/>
</span>

<table>
  <thead>
      <tr>
        <th>Album ID</th>
        <th>ID</th>
        <th>Title</th>
        <th>URL</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr> -->
      <!-- <tr *ngFor = "let status of allStatus; let i=index;"> -->
      <tr *ngFor = "let status of allStatus">
<!-- | slice: 0:pageLength -->
        <!-- <div *ngIf= "i<5"> -->
          <!-- <td *ngIf= "i<5">{{status.albumId}}</td>
          <td *ngIf= "i<5">{{status.id}}</td>
          <td *ngIf= "i<5">{{status.title}}</td>
          <td *ngIf= "i<5">{{status.url}}</td>
          <td *ngIf= "i<5"><img src="{{status.thumbnailUrl}}"></td> -->
          <td>{{status.albumId}}</td>
          <td>{{status.id}}</td>
          <td>{{status.title}}</td>
          <td>{{status.url}}</td>
          <td><img src="{{status.thumbnailUrl}}"></td>
        <!-- </div> -->
      </tr>
    </tbody>
</table>
