div, table {
  font-family: arial;
  color: darkslategrey;
}
div {
  margin: auto;
  width: 80%;
  text-align: center;
}
#menu-table {
  margin: auto;
  width: 95%;
  #page-length, #filter {
    text-align: left;
  }
  #page-nav, #page-input {
    text-align: right;
  }
}

@mixin table-border{
   border: 1px solid black;
}
#data-table {
    margin: auto;
    @include table-border;
    border-collapse: collapse;
    width: 95%;
    thead {
      tr {
        height: 50px;
        th {
          @include table-border;
        }
        #album-header {
          width: 10%;
        }
        #id-header {
          width: 5%;
        }
        #title-header, #url-header {
          width: 35%;
        }
        #image-header {
          width: 10%;
        }
      }
    }
    tbody{
      tr {
        @include table-border;
        td {
          @include table-border;
          text-align: center;
          img {
            width: 70%;
          }
        }
        .url-data {
          font-size: 2vw;;
        }
      }
    }

}
